.tmp
#app configs
config/*
!config/.env.example
!src/config/.env.example
!src/config/*.config.ts
.env
.env.backup
!config/*.config.ts
!config/*.service.ts
!config/*-source.ts

# compiled output
/dist
/node_modules
# /package-lock.json
# /package.json
# /tsconfig.json
# /.eslintrc.js
# /.prettierrc
# /tsconfig.build.json

# Logs
logs
*.log
tmp/logs/*.log
!tmp/logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
